.customerReview {
  margin-top: 50px;
  background-color: #ffffff;
  height: 300px;
  width: 100%;
  /* padding: 10px 20px; */
}

.customerReview > h2 {
  font-size: 1.9rem;
  text-align: center;
}

.reviews {
  /* display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr); */
  width: 90%;
  margin-left: 70px;
  margin-top: 40px;
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
}
